
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    color : #2e3440;
    background-color: #FFDF85;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36pt;
    font-weight: normal;
}

h2, h3 {
    font-size: 18pt;
    font-weight: normal;
}

a {
    font-size: 18pt;
    font-weight: bolder;
    text-decoration: none;
    color: #ff7077;
    /*padding-left: 0%;*/
    vertical-align: center;
    white-space: nowrap;

}

.links {
    padding-right: 3%
}